
.idea/misc.xml

.idea/StockLearner.iml

.idea/vcs.xml

.idea/workspace.xml

test_data/mnist/t10k-images-idx3-ubyte.gz

test_data/mnist/t10k-labels-idx1-ubyte.gz

test_data/mnist/train-images-idx3-ubyte.gz

test_data/mnist/train-labels-idx1-ubyte.gz

*.pyc

*.meta

*.index

*.local

.idea/dictionaries/alex.xml

*.DESKTOP-IJBTUUF

.idea/modules.xml

.idea/dictionaries/Fan.xml

test_data/mnist/t10k-images-idx3-ubyte

test_data/mnist/t10k-labels-idx1-ubyte

test_data/mnist/train-images-idx3-ubyte

test_data/mnist/train-labels-idx1-ubyte

model/mlp/stock_baseline/ckp/checkpoint
main.log
.idea/modules.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/modules.xml
.idea/modules.xml
