[train_ops]
name = testing

[config_file]
network_config_file = ./config_file\stock_mlp_baseline.cls
dataset_config_file = ./config_file/stock_mlp_baseline_dataset.config
train_ops_config_file = ./config_file/stock_mlp_baseline_train_ops.config

[data_path]
training_data_path = D:\Train
eval_data_path = D:\Train